.App {
  text-align: center;
}

hr {
  padding-bottom: 0.5px;
   
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#adduser{
  padding: 5px;
}
img{
  width: 5px;
  height: 5px;
}
#admincardgrid{
  margin-top: 2%;
  box-shadow: 1px 1px 6px black;
}

.active-link {
  font-weight: bold;
  position: relative;
  color: black;
}
.nav-link{
  color: black;
  background: none;
    border: none;    
    cursor: pointer;
}
.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust this value to position the underline as desired */
  width: 100%;
  height: 2px;
  background-color: rgb(255, 251, 3);
}
